/* To change the font, visit FontSquirell: http://www.fontsquirrel.com/fontface */
@font-face {
				
	font-family: "TeXGyreAdventorRegular";
	src: url("../fonts/texgyreadventor-regular-webfont.eot");
	src: url("../fonts/texgyreadventor-regular-webfont.eot?#iefix") format("eot"),
		 url("../fonts/texgyreadventor-regular-webfont.woff") format("woff"),
		 url("../fonts/texgyreadventor-regular-webfont.ttf") format("truetype"),
		 url("../fonts/texgyreadventor-regular-webfont.svg#webfontfuvdSzbb") format("svg");
	font-weight: normal;
	font-style: normal;
			
}

body {
			
	margin: 0px;
	padding: 0px;
				
}

/* ******************* */
/* Begin footer styles */
/* ******************* */	
		
footer {
				
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
				
	font-family: "TeXGyreAdventorRegular", Verdana, Geneva, sans-serif;
	font-size: 18px;
	color: #CCC;
	padding: 10px 0 10px 0;
	margin: 0;
				
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.75);
	
	/* Uncomment below to always hide the footer */
	/*
	display: none;
	*/
	
}

/* the audio section */
footer audio {

	float: left;
	
}

/* floats the Flash Object if rendered */
footer audio #flash-audio {

	float: left;
	
}

/* The music icon */
footer .volume {
	
	float: left;
	margin: 6px 9px 0 21px;
	cursor: pointer;
					
}

/* The category titles */			
footer #categories p {
	
	float: left;
	margin: 0 10px 0 10px;
	cursor: default;
	opacity: 0.6;
				
}

/* The number, play/pause section */	
footer #bg-images {
			
	position: fixed;
	right: 15px;
	display: none;
					
}

/* The numbered lists */		
footer #bg-images ul {
			
	list-style-type: none;
	display: none;
				
}

/* Each numbered item */		
footer #bg-images ul, footer #bg-images ul li {
			
	float: left;
	margin: 0 5px 0 5px;
	padding: 0;
				
}

/* The play-pause section */		
footer #bg-images #play-pause {
			
	float: left;
	margin: 0 5px 0 5px;
				
}

/* The prev-next divs */		
footer #bg-images .prev-next {
			
	float: left;
	padding: 0 5px 0 5px;
				
}

/* The prev-next buttons */	
footer #bg-images .prev-next img {
			
	cursor: pointer;
				
}

/* The play-pause buttons */
footer #bg-images #play-pause .play-button, footer #bg-images #play-pause .pause-button {
			
	cursor: pointer;
				
}

/* the preloader */
#preloader {
				
	float: left;
	background: url(../images/slideshow/preloader-bg.png) no-repeat;
	background-position: 0 6px;
	padding-left: 3px;
	width: 15px;
	height: 24px;
	display: none;
					
}

/* The info button and info text section */
#info {
			
	position: fixed;
	top: 20px;
	right: 20px;
	text-align: right;
				
}

/* The info button */	
#info .info-button {
			
	cursor: pointer;
				
}

/* The info text */	
#info #info-text {
	
	position: relative;
	
	font-family: "TeXGyreAdventorRegular", Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height: 22px;
	color: #CCC;
				
	margin: 0;
	display: none;
				
	padding: 15px 20px 15px 20px;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.5);
				
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
				
}



/* Info text title */			
#info #info-text .company-name {
			
	font-size: 16px;
	color: #F5F5F5;
				
}

/* The info text links */	
#info #info-text a, #info-text a:visited {
			
	color: #CCC;
	text-decoration: none;
				
}

/* Info text links on mouse over */		
#info #info-text a:hover {
			
	color: #F5F5F5;
				
}














